<%- include('../partials/adminHeader.ejs') %>

            <!-- Table Start -->

            <div class="container-fluid pt-4 px-4">
              
                <div class="row g-4">
                    <div class="col-12">
                        <div class="bg-light rounded h-100 p-4" >
                            <h6 class="mb-4">Product list</h6>
                            <form action="/admin/salesReport" class="row">
                                <div   class="col-md-2" >
                                    <label style="font-size: 18px; font-weight: bold; margin-right: 10px;" for="birthday" >Starting Date:</label><br>
                                    <input style="padding: 8px; border-radius: 5px; border: 1px solid #ccc; font-size: 16px;" type="date" id="birthday" name="from">
                                </div>
                                <div   class="col-md-2" style="margin-left: ">
                                    <label style="font-size: 18px; font-weight: bold; margin-right: 10px;" for="birthday">Ending Date:</label><br>
                                    <input style="padding: 8px; border-radius: 5px; border: 1px solid #ccc; font-size: 16px;" type="date" id="birthday" name="to">
                                </div>
                                <div class="col-md-2" style="padding: 2.5%;">
                                    <button class="btn btn-info" > <span style="font-family: Arial Unicode MS, Lucida Grande;color: green;" >
                                        &#10004;
                                      </span>
                                    </button>
                            </div>
                                </form>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">No</th>
                                            <th scope="col">Coustumer Name</th>
                                            <th scope="col">Order Id</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead><%let i=0%>
                                    <% orderDetails.forEach((items)=>{ %>
                                    <tbody>
                                      <%i++%>
                                        <tr>
                                            <th scope="row"><%=i%></th>
                                            <td><%=items.user%></td>
                                            <td><%=items.userId%></td>
                                            <td><%=items.Date.toISOString().substring(0,10)%></td>
                                            <td><%=items.totalAmout%></td>
                                            <td><%=items.status%></td>
                                        </tr>
                                    </tbody>
                                    <%})%>
                                    <button class="btn btn-outline-success m-2"><a href="/admin/exportToPdf">Download</a></button>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table End -->


 <%- include('../partials/adminFooter.ejs') %>