<%- include('../partials/header.ejs') %>
<%- include('../partials/header1.ejs') %>
<section class="h-100 h-custom" style="background-color: #ffffff; ">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted">3 items</h6>
                  </div>
                  <hr class="my-4"> 
                  <%let totalCount=0%>
                  <%products.forEach((products)=>{%>
                    <%if(products.count!=0){%>
                  <div class="row mb-4 d-flex justify-content-between align-items-center" >
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="/admin/productImage/<%=products.productId.image[1]%>"
                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted"><%=products.productId.name%></h6>
                      <h6 class="text-black mb-0"></h6>
                    </div>
                 <%totalCount=totalCount+products.count%>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button class="btn btn-sm btn-danger" onclick="changecount('<%=products._id%>',-1)">-</button>
                      <input id="form" min='0' disabled  name="quantity" value="<%=products.count%>" type="number"
                        class="form-control form-control-sm" / style="width: 3em;">
                        <button class="btn btn-sm btn-success" onclick="changecount('<%=products._id%>',1)">+</button>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0"><%=products.productId.price%></h6>
                    </div>
                     <h6 class="mb-0"><button class="btn btn-sm btn-danger m-2" onclick="cartprDlt('<%=session%>','<%=products.productId._id%>')">Remove</button></h6>
                  </div>
                    <%}%>
                  <%})%>
                  <hr class="my-4">
                  <div class="pt-5">
                    <h6 class="mb-0"><a href="#!" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">
                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">items  </h5>
                    <h5><%=totalCount%> </h5>
                  </div>
                  <hr class="my-4">
                  
                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5><%=Math.round(Total)%></h5>
                  </div>
                 
                  <a href="/checkout"><button type="button" class="btn btn-success btn-block btn-lg"
                    data-mdb-ripple-color="dark">Check out</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function changecount(id,count){
    console.log(count)
    console.log(id)
    $.ajax({
      url:'/changeCount',
      method:'post',
      data:{
        id:id,
        count:count
      },
      success:(response)=>{
        location.reload()
      }
    })
  }
  function cartprDlt(session,productId){
    Swal.fire({
            title:'Remove. are you sure!',
            text:"Product remove from cart!",
            icon:"warning",
            showCancelButton:'True',
            confirmButtonColor:"#3085d6",
            CancelButtonColor:'#d33',
            confirmButtonText:'Yes'
        }).then((result)=>{
            if(result.isConfirmed){
    $.ajax({
      url:'/cartprDlt',
      method:'post',
      data:{
        session:session,
        productId:productId
      },
      success:(response)=>{
        if(response.status){
            location.reload()
        }
    }
    })
  }
})
  }

</script>

  <style>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;

}
</style>

  <%- include('../partials/footer.ejs') %>
  <%- include('../partials/footer1.ejs') %>